<html xmlns:th="http://ww.thymeleaf.org">
<head>
	<title>Add Curs</title>
	<meta http-equiv="content-Type" content="text/html;charset=UTF-8"/>
	<link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
	<h1>New curs</h1>
	<div>
		<form th:object="${curs}" th:action="@{saveCurs}" action="#" method="post">
			<input type="text" th:field="*{name}" class="form-control" placeholder="Name"/>
			<div style="clear:both; display:block; height:10px"></div>
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
	</div>
</body>
</html>