<html>
<head>
	<title>CursList</title>
	<meta http-equiv="content-Type" content="text/html;charset=UTF-8"/>
	<link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
	<h1>Curs</h1>
	<table class="table tabe-striped">
		<tr>
			<th>Name</th>
		</tr>
		<tr th:each="curs: ${courses}">
			<td th:text="${curs.name}"></td>
			<td><a th:href="@{/deleteCurs/{id}(id=${curs.id})}" class="btn btn-danger">Delete</a></td>
			<td><a th:href="@{/addStudentCurs/{cursId}(cursId=${curs.id})}" class="btn btn-danger">ViewStudent</a></td>
		</tr>
	</table>
	<a href="/addCurs" class="btn btn-success">Add Curs</a>
</body>
</html>